<div class="general">
  <content-d text="contactPageText"></content-d>

  <div class="contact">
    <form class="contact-form" action="">
      <div class="form-top">
        <div class="form-top-left">
          <input id="contact-name" type="text" placeholder="Your name :" required />
          <input id="contact-email" type="email" placeholder="Your email :" required />
          <input id="contact-phone" type="phone" placeholder="Your phone :" />
        </div>
        <div class="form-top-right">
          <textarea></textarea>
        </div>
      </div>
      <div class="form-bottom">
        <button id="contact-text" class="contact-submit" type="submit">Send Away!!</div>
      </div>
    </form>
  </div>

</div>
