html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  /*height: 1200px;*/
  min-height: 600px;
  /*max-height: 1200px;*/
  position: relative;
  /*background-image: url('../images/pexels-photo.jpg');*/
  /*scroll-behavior: smooth;*/
  background: #0B2442;
  /*background: linear-gradient(#0B2442, rgba(255, 0, 0, 0));*/
}

.main-wrapper {
  width: 100%;
  /*height: 500px;*/
  font-family: 'Rock Salt', cursive, Verdana, Arial;
  /*color: white;*/
}

.general {
  width: 80%;
  height: auto;
  min-height: 500px;
  margin: auto;
  padding: 25px;
  background: #E0DCF5;
  border-radius: 5px;
}

/* ---------- home view css ---------- */

.welcome {
  margin: auto;
}

.welcome h2 {
  margin: 0;
}

.welcome h3 {
  font-family: Verdana, Arial;
  margin: 0;
}

.content-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-wrapper a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.content-box {
  color: white;
  width: 300px;
  height: 300px;
  /*min-width: 300px;*/
  /*min-height: 300px;*/
  /*background: #006699;*/
  margin: 15px;
  border-radius: 5px;

  max-height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.content-box h3 {
  padding-left: 10px;
  font-family: Verdana, Arial;
  /*margin: auto;*/
  /*z-index: 1;*/
  position: absolute;
}

/*.box-img {
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  border-radius: 5px;
  z-index: 0;
  }*/

/* ---------- contact stuff below ---------- */

.contact {
  /*width: 100%;*/
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  width: auto;
  height: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.form-top-left {
  display: flex;
  flex-direction: column;
}

.form-top-left input {
  width: 275px;
  margin: 15px;
  border: none;
  border-bottom: 5px black solid;
  background: #E0DCF5;
  border-radius: 5px;
  font-size: 16px;
  line-height: 30px;
}

.form-top-right {

}

.form-top-right textarea {
  width: 275px;
  height: 168px;
  margin: 10px;
  border: none;
  border-bottom: 5px black solid;
  border-right: 5px black solid;
  background: #E0DCF5;
  font-size: 16px;
  border-radius: 5px;
  /*rows: 10;*/
}

.form-bottom {

}

.form-bottom button {
  margin: 5px;
  font-size: 16px;
}

/* ----- saveWhales background image ----- */

.saveWhales {
  height: 800px;
  background-image: url('../images/saveWhales01.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
