.nav {
  width: 100%;
  height: 50px;
  /*background: #E8CDAC;*/
  /*background: #6F97C9;*/
  background: #006699;
  position: fixed;
  top: 0;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  /*border-radius: 10px;*/
}

.nav-logo {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  background-image: url('../images/winwyn-logo-sm-box.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20px;
}

.nav span {
  margin: 10px;
}

.nav a {
  text-decoration: none;
  padding: 3px;
}

.nav a:hover {
  /*border-bottom: solid #0B2442 3px;*/
  /*background: #FFF0BF;*/
  background: #0B2442;
}

.nav a:link, a:visited {
  /*color: #0B2442;*/
  color: white;
}

/*.nav a:focus {
  border-bottom: solid #FFF0BF 3px;
}*/
