/* ----- top css ----- */
.top {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/pexels-photo.jpg');
  /*background-image: url('../images/giphy-wave.gif');
  background-size: cover;
  background-position: center center;*/

  background-repeat: no-repeat;
  border-bottom: 10px #0B2442 solid;
  z-index: 999;
  position: relative;
}

.top h1 {
  color: white;
  font-size: 85px;
  letter-spacing: 25px;
  margin: 0;
}

.top h3 {
  /*font-size: 20px;*/
  font-family: Arial;
  letter-spacing: 3px;
  color: white;
  /*border-bottom: solid white 2px;*/
  margin: 0;
}

/* ----- nav css ----- */
.nav {
  width: 100%;
  height: 50px;
  background: #0B2442;
  background: linear-gradient(#1D5599, rgba(255,0,0,0));
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  border-top: 5px #0B2442 solid;
}

.nav-logo {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  background-image: url('../images/winwyn-logo-sm-box.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20px;
  position: relative;
  top: 3px;
}

.nav span {
  margin: 10px;
}

.nav a {
  text-decoration: none;
  border-radius: 5px;
  padding: 3px 6px;
}

.nav a:hover {
  /*background: #0B2442;*/
  background: #006699;
}

.nav a:link, a:visited {
  color: white;
}

/* --------- start media queries ---------- */
